@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --foreground: #09090B;
}

body {
  background: var(--background);
  font-family: var(--font-dm-sans);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #18181B;
  color: #FFFFFF;
}
